@import '~purecss/build/base.css';
@import '~purecss/build/grids.css';
@import '~highlight.js/styles/atom-one-light.css';
@import '~primer-markdown/build/build.css';

html {
  background-color: white;
}

.markdown-body.note {
  margin-top: 2em;
  margin-bottom: 4em;
}
